.bangaliFood-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    justify-items:center;
    align-items: center;
    background-color: white;
    padding: 40px;

}
.bangaliFood-card{
    color: black;
    border-radius: 20px;
    padding: 30px;
    box-shadow:  10px 5px 25px black;

}
.bangaliFood-card img{
    height: 250px;
    width: full;
    border-radius: 20px;
    
}
.bangaliFood-card a{
    color: orangered;
    background-color: rgb(85, 83, 83);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-size: 16px;
    font-weight:300;
}
.bangaliFood-card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}