.body-container{
    background-color: white;
    display: flex;
    color: black;
    align-items: center;
    padding: 40px;
}
.body-container span{
    color: red;
}
.body-container a{
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: orangered;
}
.body-container a:hover{
    text-shadow: 1px 1px 10px white, 0 0 25px white, 0 0 5px white;
}
