.body-container{
    background-color: white;
    display: flex;
    color: black;
    align-items: center;
    padding: 40px;
}
.body-container span{
    color: red;
}
.body-container button{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: orangered;
}
.body-container button:hover{
    background-color: red;
}
