.footer-section{
    text-align: center;
    color: white;
    padding: 100px;
}
.footer-section h2 {
    color: white;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
  }
.footer-body img{
    height: 40px;
    padding: 20px;
}